header {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  padding: 100px 40px;
  animation-name: scaleUp;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.5, 1, 0.89, 1);
  animation-iteration-count: inherit;
  color: aliceblue;
  margin: 0 auto;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  padding: 80px 40px;
  margin: 0 auto;
  font-size: x-large;
  transition: transform 2s linear 2s, opacity 1s linear 2s;
  transform: scale(0);
  opacity: 0;
  color: white;
  text-align: center;
}

main.active {
  opacity: 1;
  transform: scale(1);
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}

@keyframes scaleUp {
  0% {
    transform-origin: "top right";
    transform: scale(0.2) rotateZ(11deg);
    transition: transform 2s cubic-bezier(0.5, 1, 0.89, 1) 0s;
  }
  50% {
    transform: scale(0.8) rotateZ(150deg);
  }
  80% {
    transform: scale(1.2) rotateZ(250deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
